.card{
    width: 30%;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: black 1px solid;
    border-radius: 50px;
}

.card img{
    width: 100%;
    height: auto;
    margin: auto;   
}

.card h2{
    margin: 2px auto;
}

.card p{
    margin: 2px auto;
}