html {
  background-color: rgb(237, 237, 237);
}
#root{
  font-family: "Montserrat", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainNav{
  margin: 5px auto;
  width: 60%;
  background-color: black;
  padding: 10px 0;
  border-radius: 30px;
  box-shadow: 0 1px 7px 2px rgb(177, 177, 177);
  position: fixed;
  top: 0;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 10px; */
  margin: auto;
  width: 100%;

}

.links{
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin: 0 20px;
  border-radius: 50px;
}

.links:hover{
  background-color: white;
  color: black;
}

.fa-plus {
  color: black;
  transition: transform 0.3s ease-in-out;
}

.links:hover .fa-plus {
  transform: rotate(180deg);
}